<h1>Search</h1>
<div class="row">
  <div class="col-2">
    <%= link_to "List", persons_path, class: "btn btn-warning mb-2" %>
  </div>
  <div class="col-10 ml-auto mr-auto">
    <%= form_for search_path, method: :get do |f| %>
    <div class="row">
      <div class="col-10">
        <div class="form-group ">
          <%= text_field_tag :q, params[:q], class: "form-control mb-2", id: "search", autocomplete: "off", placeholder: "Search for names or emails..." %>
          <!-- Autocomplete -->
            <div id="results">
              <ul class="list-group"></ul>
            </div>
          <!-- end -->
        </div>
      </div>
      <div class="col-2">
        <%= submit_tag "Search", class: "btn btn-primary d-inline-block" %>
      </div>
    </div>
    <% end %>
  </div>
</div>

<ul class="list-group">
  <% @results.each do |result| %>
    <li class="list-group-item list-group-item-action">
      <% if result[:type] == "comment" %>
        <big><i class="fa fa-comment-o fa-fix-width mr-2" aria-hidden="true"></i></big> 
        <%= link_to "Comment", edit_person_path(result[:person_id], :anchor => "comment-#{result[:id]}") %> for email: <%= link_to result[:email], edit_person_path(result[:person_id], :anchor => "email-#{result[:email_id]}") %> under person: <%= link_to result[:person], edit_person_path(result[:person_id]) %>
        <p class="text-monospace highlight"> 
          <%= raw result[:highlight] %> 
        </p>
      <% else %>
        <big><i class="fa fa-user-o fa-fix-width mr-2" aria-hidden="true"></i></big> 
        <%= link_to result[:name], edit_person_path(result[:id]) %>
      <% end %>
    </li>
  <% end %>
</ul>