<h1>Search</h1>
<div class="row">
  <div class="col-2">
    <%= link_to "List", persons_path, class: "btn btn-warning mb-2" %>
  </div>
  <div class="col-10 ml-auto mr-auto">
    <%= form_for search_path, method: :get do |f| %>
    <div class="row">
      <div class="col-10">
        <div class="form-group ">
          <%= text_field_tag :q, params[:q], class: "form-control mb-2", id: "search", autocomplete: "off", placeholder: "Search for names or emails..." %>
          <div id="results">
            <ul class="list-group"></ul>
          </div>
        </div>
      </div>
      <div class="col-2">
        <%= submit_tag "Search", class: "btn btn-primary d-inline-block" %>
      </div>
    </div>
    <% end %>
  </div>
</div>

<ul class="list-group">
  <% @persons.each do |person| %>
  <li class="list-group-item list-group-item-action">
    <h5>
      <%= person.firstname %> <%= person.lastname %> <br /> 
        <% person.emails.each do |e| %>
          <small><%= e.email %></small> <br /> 
        <% end %>
    </h5>
    <a href="<%= edit_person_path(person) %>" class="btn btn-success">Edit</a>
  </li>
  <% end %>
</ul>