<%= form_for(@person) do |f| %>
  <div class="form-group">
    Firstname: <%= f.text_field :firstname, required: true, class: "form-control" %><br />
    Lastname : <%= f.text_field :lastname, required: true, class: "form-control" %><br />
    Email: <%= f.text_field :email, required: true, class: "form-control" %><br />
  </div>
  <%= f.submit class: "btn btn-primary" %>
<% end %>