<h1 class="mt-3">Person</h1>

<%= link_to "List", persons_path, class: "btn btn-warning mb-3" %>

<div class="row mb-4">
  <div class="col-6"> 
    <div class="card h-100">
      <div class="card-body">
        <%= render partial: "form" %>
      </div>
    </div>
  </div>  
  <div class="col-6">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Other actions</h5>
          <%= link_to  "Delete", @person, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger mt-3"  %>
          <% if @person.excluded %>
            <%= link_to  "Add to search", archive_person_path(@person), method: :patch, data: { confirm: "Are you sure?" }, class: "btn btn-success mt-3"  %>
          <% else %>
            <%= link_to  "Remove from search", archive_person_path(@person), method: :patch, data: { confirm: "Are you sure?" }, class: "btn btn-danger mt-3"  %>
          <% end %>
      </div>
    </div>
  </div>
</div>
<div class="row mb-4">
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <%= render "emails/form" %>
        <ul class="list-group">
            <% @person.emails.order('id ASC').each_with_index do |e, i| %>
            <% if e.id %>
            <li class="list-group-item list-group-item-action">
                <p><big><i class="fa fa-envelope-o mr-3" aria-hidden="true"></i></big><%= e.email %>  <%= link_to  "Delete", person_email_path(id: e.id.to_i, person_id: @person.id), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger"  %></p> 
                <ul class="list-group">
                  <% e.comments.each_with_index do |c,i| %>  
                    <% if c.id %>
                      <li class="list-group-item" id="comment-<%= c.id %>">
                        <span class="font-weight-bold mr-1 float-left h-100">#<%= i+1 %></span>
                        <span><%= c.content %></span><br />
                        <small class="mr-3 text-muted"><%= c.created_at %></small>
                      </li> 
                    <% end %>
                  <% end %>
                </ul>     
                <hr>     
                <%= render partial: "comments/form", locals: { email: e } %>
              <% end %>    
           </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
