<% if notice %>
  <div class="alert alert-success mt-2" role="alert">
    <%= notice %>
  </div>
<% end %>
<h1 class="mt-2">List of poeple</h1>
<%= link_to 'Add a new person', new_person_path, class: "btn btn-primary" %>
<%= link_to 'Search', search_path, class: "btn btn-warning" %>
<table class="table mt-2">
  <thead>
    <tr>
      <th scope="col">Firstname</th>
      <th scope="col">Lastname</th>
      <th scope="col">Email</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @persons.each do |person| -%>
      <tr class="<%= 'table-danger' if person.excluded %>">
        <td>
          <%= person.firstname %>
        </td>
        <td>
          <%= person.lastname %>
        </td>
        <td>
          <%= person.email %>
        </td>
        <td>
          <% if person.excluded %>
            <%= link_to  "Add to search", person_path(person.id), method: :patch, data: { confirm: "Are you sure?" }, class: "btn btn-success"  %>
          <% else %>
            <%= link_to  "Remove from search", person_path(person.id), method: :patch, data: { confirm: "Are you sure?" }, class: "btn btn-danger"  %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
