<h1 class="mt-3">List of poeple</h1>
<%= link_to 'Add a new person', new_person_path, class: "btn btn-primary" %>
<%= link_to 'Search', search_path, class: "btn btn-warning" %>


<ul class="list-group mt-3 mb-3">
  <li class="list-group-item font-weight-bold">
    <div class="row">
      <div class="col-xl-2">
        <span>Firstname</span>
      </div>
      <div class="col-xl-2">
        <span>Lastname</span>
      </div>
      <div class="col-xl-4">
        <span>Emails</span>
      </div>
      <div class="col-xl-3">
        <span>Actions</span>
      </div>
    </div>
  </li>
  <% @persons.each do |person| %>
    <li class="list-group-item list-group-item-action <%= 'bg-excluded' if person.excluded %>">
      <div class="row">
        <div class="col-xl-2">
          <span><%= person.firstname %></span>
        </div>
        <div class="col-xl-2">
          <span><%= person.lastname %></span>
        </div>
        <div class="col-xl-4">
          <% person.emails.each do |e| %>
              <%= e.email %> <br /> 
          <% end %>
        </div>
        <div class="col-xl-3">
          <div class="actions">
            <a href="<%= edit_person_path(person) %>" class="btn btn-success">Edit</a>
            <% if person.excluded %>
              <%= link_to  "Add to search", archive_person_path(person.id), method: :patch, data: { confirm: "Are you sure?" }, class: "btn btn-success"  %>
            <% else %>
              <%= link_to  "Remove from search", archive_person_path(person.id), method: :patch, data: { confirm: "Are you sure?" }, class: "btn btn-danger"  %>
            <% end %>
          </div>
        </div>
      </div>
    </li>
  <% end %>
</ul>